<%= form_with model: [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "textarea", placeholder: "Add a comment" %>
  </div>
  <div>
    <%= f.submit class: "button is-primary is-light" %>

  </div>
<% end %>
