<nav class="navbar is-fixed-top is-transparent is-centered" role="navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <strong>Facebook</strong>
    </div>
  </div>
  <div class="navbar-item">
    <%= link_to "Home", root_path %>
  </div>
  <div class="navbar-item">
    <%= login_helper %>
  </div>
    <div class="navbar-item">
    <%= link_to " Create New Post", new_post_path %>
  </div>
</nav>
