<% if post.member = current_member %>
  <nav class="navbar">
    <%= button_to 'Edit post', edit_post_path(post), class: "button is-warning" %>
    <%= button_to 'Delete post', post, data: { turbo_method: :delete,
                        turbo_confirm: 'Are you sure?' }, class: "button is-danger" %>
  </nav>
<% end %>
