.svgbtn {
	display: inline-block;
	z-index: 100;
	width: 30px;
}

.close-flash {
	color: white;
}

.post {
	margin-bottom: 4rem;
}

html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body > footer {
	margin-top: auto;
}

.post-content {
	border: 2px black;
}
.svg {
	height: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
